body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    /* Full-width inputs */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 10px 40px;
        margin: 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

.login-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 40px 100px;
}

/* Extra style for the cancel button (red) */
.Clear:hover {
    color: red;
}

.field-validation-error {
    color: red;
}

.Home {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 0.55);
    padding: 100px 200px;
}